table#table_tours td.title{
	max-width: 150px;
}

form#tour div.featured,
form#blog div.featured{
	max-width: 200px;
}

form#tour div.thumbnail,
form#blog div.thumbnail{
	max-width: 100px;
}

a:hover{
	text-decoration: none;
}

table#table_categories td.description{
	max-width: 220px;
}

table#table_blogs td.title{
	max-width: 150px;
}

table#table_bookings td.customer{
	max-width: 150px;
}

table#table_bookings td.customer span.badge{
	white-space: normal;
}

table#table_bookings td.tour_details{
	max-width: 300px;
}

table#table_bookings td.tour_details span.badge-light{
	width: 150px;
	white-space: normal;
}

table#table_bookings td.tour_details span.badge-secondary{
	width: 75px;
}

table#table_bookings td.tour_details span.badge-dark{
	width: 75px;
}