<style>
  main{
    float: left;
  }
  
  main div#hero img{
    width: 960px;
    height: 393px;
    display: inline-block;
  }
  
  main div#hero div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 4px;
    left: 0;
    background-color: rgba(223,121,0,0.52);
  }
  
  main div#hero div h1{
    margin: 0;
    text-align: center;
    margin-top: 22%;
    color: #fff;
    text-shadow: 1px 2px 2px rgba(255,255,255,0.3);
  }

  main div.categories{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  main div.categories a{
    text-decoration: none;
    color: #fff;
    background-color: #df7900;
    margin: 10px;
    padding: 10px 20px;
    display: inline-block;
  }

  main div.categories a:hover,
  main div.categories a.selected{
    background-color: rgb(51,132,179)
  }
  
  main div.tour_container{
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
  }
  
  main div.tour_container .left{
    float: left;
  }
  
  main div.tour_container .right{
    float: right;
  }
  
  main div.tour_box{
    width: 450px;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #df7900;
    margin-bottom: 30px;
  }
  
  main div.tour_box div.img{
    position: relative;
    width: 400px;
    height: 200px;
    display: inline-block;
    background-color: #222f43;
  }
  
  main div.tour_box div.img span.rate{
    position: absolute;
    left: 0;
    top: 0px;
    padding: 7px 15px;
    background-color: rgba(39,142,189,.9);
    color: #fff;
  }
  
  main div.tour_box div.img span.more{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background-color: rgba(223,121,0,0.9);
  }
  
  main div.tour_box div.img span.more a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
  }
  
  main div.tour_box div.description h2{
    margin: 0;
    color: #df7900;
    padding-top: 10px;
  }
  
  main div.tour_box div.description p{
    margin: 0;
    padding-top: 5px;
  }
  
  main div.tour_box div.description ul{
    display: inline-block;
  }
  
  main div.tour_box div.description ul li{
    text-align: left;
    line-height: 24px;
  }
  
  main a#link_more_tours{
    background-color: #df7900;
    color: #fff;
    display: block;
    clear: both;
    margin: 30px auto;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    width: 70%;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,.5);
  }
  
  main a#link_more_tours:hover{
    color: #df7900;
    background-color: #fff;
    font-weight: 700;
    box-shadow: 1px 1px 3px 1px rgba(223,121,0,.5);
  }

  main div.no_data{
    text-align: center;
  }

  main div.no_data p{
    background-color: rgba(49, 112, 143, .9);
    color: #fff;
    padding: 10px;
  }
  
  footer{
    clear: both;
  }
  
  @media screen and (max-width: 768px){
    main div#hero img {
      max-width: 100%;
      height: auto;
      min-height: auto;
    }
    
    main div.tour_container {
      padding: 0;
    }
    
    main div.tour_box {
      width: 90%;
      margin: 0 5%;
      margin-bottom: 30px;
    }
    
    main div.tour_box:first-child {
      margin-top: 20px;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 850px){
    main div#hero img {
      max-width: 100%;
      height: auto;
      min-height: auto;
    }
    
    main div.tour_container {
      padding: 0;
    }
    
    main div.tour_box {
      width: 90%;
      margin: 0 5%;
      margin-bottom: 30px;
    }
    
    main div.tour_box:first-child {
      margin-top: 20px;
    }
  }
  
  @media screen and (min-width: 851px) and (max-width: 980px){
    main div.tour_container {
      padding: 15px 0;
    }
    
    main div.tour_box {
      width: 50%;
    }
  }
</style>